﻿@using System.Activities.Statements
@using Newtonsoft.Json
@model LMF.Web.ViewModels.LoginViewModel
<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <script>
        // Must be first. IE10 mobile viewport fix
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    @Styles.Render("~/Content/css")
</head>
<body data-ng-app="loginApp">
    <div flex layout="row">
        <div flex="35" layout="column"></div>
        <ng-include flex layout="column" src="'login.html'"></ng-include>
        <div flex="35" layout="column"></div>
    </div>

    <script type="text/ng-template" id="login.html">
        <md-content class="md-padding">
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>Login</span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-card-content>
                    @using (Html.BeginForm("Index", "Authentication", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        <md-input-container>
                            <label>Email</label>
                            <input id="UserName" name="UserName" type="text" value="" autofocus />            
                            <login-errors property-name="UserName"></login-errors>
                        </md-input-container>

                        <md-input-container>
                            <label>Password</label>
                            <input id="Password" name="Password" type="password" />
                            <login-errors property-name="Password"></login-errors>
                        </md-input-container>

                        <md-checkbox class="md-primary" data-md-no-ink data-ng-model="rememberMe" data-aria-label="Remember me">
                            Remember me
                            <input id="RememberMe" name="RememberMe" type="hidden" value="{{rememberMe || false}}">
                        </md-checkbox>

                        <login-errors property-name="Other"></login-errors>

                        <div class="md-actions" layout="row">
                            <span flex></span>
                            <md-button class="md-raised md-primary" type="submit">
                                Log in
                            </md-button>
                        </div>
                    }
                </md-card-content>
            </md-card>
        </md-content>
    </script>

    <!-- Vendor Scripts -->
    @Scripts.Render("~/bundles/scripts")

    <!-- Bootstrapping -->
    @Scripts.Render("~/bundles/login")

    <script type="text/javascript">
        @{
            var loginErrors = ViewContext.ViewData.ModelState
                .Where(pair => pair.Value.Errors.Count > 0)
                .ToDictionary(pair =>  string.IsNullOrWhiteSpace(pair.Key) ? "Other" : pair.Key , pair => pair.Value.Errors.First().ErrorMessage);
            var serializedLoginErrors = JsonConvert.SerializeObject(loginErrors);
            @Html.Raw(string.Format("var loginErrors = JSON.parse('{0}');", serializedLoginErrors))
            @Html.Raw("angular.module('loginApp').value('loginErrors', loginErrors);")
        }
    </script>
</body>
</html>