﻿<div layout="row" flex  data-ng-controller="shell as vm">
    <div data-ng-if="vm.isBootstrapping">
        <md-backdrop class="md-dialog-backdrop md-opaque ng-scope md-default-theme" aria-hidden="true"></md-backdrop>
        <div class="md-scroll-mask" style="z-index: 50" aria-hidden="true">
            <div class="md-scroll-mask-bar"></div>
        </div>
        <div class="md-dialog-container">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
   
    <ng-include layout="column" src="'/ClientApps/main/layout/sidebar.html'" data-ng-if="!vm.isBootstrapping"></ng-include>
    <div layout="column" flex data-ng-view data-ng-if="!vm.isBootstrapping"></div>
</div>
